$primaryColor: white;
$secondaryColor: #1fbed6;
$tertiaryColor: rgb(245, 107, 2);
$hoverBg: rgb(227, 227, 227);

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #ffffff;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}

.modal-header {
    padding: 15px;
    display: flex;
    border-bottom: 1px solid #eeeeee;
    color: $tertiaryColor;
    justify-content: space-between;
}

.modal-body {
    position: relative;
    padding: 0px 50px 50px 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.btn-close {
    border: none;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    color: black;
    background: transparent;
}

.answer {
    display: flex;
    padding: 1rem;
    align-items: center;
}

header#modalTitle {
    margin-left: 2rem;
}

button.btn-answered button.btn-unanswered button.btn-current {
    cursor: none;
}

@media (max-width: 640px) {
    .modal-body {
        grid-template-columns: repeat(3, 1fr);
    }
}

.modal-fade-enter,
.modal-fade-leave-active {
    opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity 0.5s ease;
}
